/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: Arial, sans-serif
    margin: 0;
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para as seções */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para os artigos (notícias) */
article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

iframe {
    text-align: center;

}